@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.jumbotron, .jumbotronContacto, .jumbotronClases, .jumbotronFechas, .jumbotronMusica2, .jumbotronMusica {
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
  text-align: center;
  height: 110px;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron h1, .jumbotronContacto h1, .jumbotronClases h1, .jumbotronFechas h1, .jumbotronMusica2 h1, .jumbotronMusica h1 {
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  color: #2554C7;
  text-shadow: 0, 5px 0, 5px 0, 5px turquoise;
}
.jumbotron h1:hover, .jumbotronContacto h1:hover, .jumbotronClases h1:hover, .jumbotronFechas h1:hover, .jumbotronMusica2 h1:hover, .jumbotronMusica h1:hover {
  color: #151B8D;
}
.jumbotron p, .jumbotronContacto p, .jumbotronClases p, .jumbotronFechas p, .jumbotronMusica2 p, .jumbotronMusica p {
  font-size: 25px;
  color: turquoise;
  font-family: "League Spartan", sans-serif;
}

.titulo {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 32px;
}

.parrafo {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.about {
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
  padding-top: 40px;
}

#imghome {
  width: 100%;
  filter: sepia(80%);
  transition: filter 1s;
}
#imghome:hover {
  filter: sepia(50%);
}

.aright p {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 20px;
}

@media only screen and (min-width: 942px) {
  .aright p {
    font-size: 25px;
  }
}
.footer {
  padding-top: 20px;
  height: 130px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  text-align: center;
}
.footer p {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  color: black;
}

.redes {
  color: black;
  font-size: 20px;
}
.redes ul {
  list-style-type: none;
}
.redes ul li {
  display: inline-block;
}
.redes ul li a {
  color: inherit;
}

#spotify, #mail, #facebook, #instagram {
  transition: 1s;
}
#spotify:hover, #mail:hover, #facebook:hover, #instagram:hover {
  font-size: 30px;
  color: blue;
}

#instagram:hover {
  font-size: 30px;
  color: green;
}

#facebook:hover {
  font-size: 30px;
  color: brown;
}

#mail:hover {
  font-size: 30px;
  color: yellow;
}

.containerDiscos1, .containerVideos, .containerDiscos2 {
  background-color: black;
  margin-top: 0px;
  padding-top: 10px;
}

.containerDiscos2 {
  padding-bottom: 10px;
}

.mainFechas {
  background-color: black;
  padding: 10px 10px 10px 10px;
}

.jumbotronContacto {
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
}

.formulario {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
  color: black;
}
.formulario input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.card-red {
  background-color: red;
  border: solid 2px black;
}

.card-grey {
  background-color: grey;
  border: solid 2px black;
}

.card-green {
  background-color: green;
  border: solid 2px black;
}

.card-orange {
  background-color: orange;
  border: solid 2px black;
}

.card-violet {
  background-color: violet;
  border: solid 2px black;
}

.card-purple {
  background-color: purple;
  border: solid 2px black;
}

.clasesGuitarra {
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
  display: flex;
  flex-flow: column;
  justify-content: center space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}
.clasesGuitarra h2 {
  text-transform: uppercase;
  color: #7ed4e6;
  text-shadow: 0, 7px 0, 7px 0, 7px black;
}
.clasesGuitarra p {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 20px;
}

#botonClases {
  margin-bottom: 10px;
}

.gleft {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.gleft h2 {
  font-family: "Roboto", sans-serif;
}

.gleft h2:hover {
  color: #151B8D;
}

#gclases {
  filter: sepia(100%);
  transition: 1s;
}

#gclases:hover {
  filter: sepia(50%);
}

@media only screen and (min-width: 768px) {
  .clasesGuitarra {
    flex-flow: row;
  }

  .gleft {
    width: 100%;
    font-size: 19px;
  }

  .gright {
    width: 100%;
    padding-left: 100px;
  }
}
.clasesEnsamble {
  height: 800px;
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "e1" "e3" "e3" "e2";
}
.clasesEnsamble h2 {
  text-transform: uppercase;
  color: #7ed4e6;
  text-shadow: 0, 7px 0, 7px 0, 7px black;
}
.clasesEnsamble h2:hover {
  color: #151B8D;
}
.clasesEnsamble p {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 20px;
}

.e1 {
  background-image: url(../img/piano-g555625ecb_1920.jpg);
  filter: grayscale(50%);
  height: 200px;
  background-size: cover;
  grid-area: e1;
}

.e2 {
  background-image: url(../img/e2.jpg);
  filter: grayscale(70%);
  height: 200px;
  background-size: cover;
  grid-area: e2;
}

.e3 {
  background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
  grid-area: e3;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: black;
}
.e3 h2 {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
.e3 p {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.e3 p:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .clasesEnsamble {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "e1 e3" "e1 e3";
    height: 400px;
  }

  .e1 {
    background-size: cover;
    height: 400px;
  }

  .e3 {
    font-size: 19px;
  }
}/*# sourceMappingURL=estilos.css.map */