@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.jumbotron {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  text-align: center;
  height: 110px;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-bottom: 0;
}

.titulo {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 32px;
}

.parrafo {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.about {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#imghome {
  width: 100%;
  filter: sepia(80%);
  transition: filter 1s;
}
#imghome:hover {
  filter: sepia(50%);
}

.aright p {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  color: black;
  font-size: 20px;
}

@media only screen and (min-width: 942px) {
  .aright p {
    font-size: 25px;
  }
}
.footer {
  height: 80px;
  background-color: rgba(97, 92, 92, 0.377);
  text-align: center;
}
.footer p {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

#spotify, #mail, #facebook, #instagram {
  transition: 1s;
}
#spotify:hover, #mail:hover, #facebook:hover, #instagram:hover {
  font-size: 20px;
  color: blue;
}

#instagram:hover {
  font-size: 20px;
  color: green;
}

#facebook:hover {
  font-size: 20px;
  color: brown;
}

#mail:hover {
  font-size: 20px;
  color: yellow;
}

.jumbotronMusica {
  height: 150px;
  background-image: url(../img/0466_Usina_El\ Aula_Loiacono_20171304_DSC5192.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(60%);
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 10px;
  /* font-family: ; */
  font-weight: bolder;
  font-size: 32px;
  color: rgba(250, 211, 36, 0.932);
  text-shadow: 1px 1px 1px black;
}

.jumbotronMusica2 {
  height: 150px;
  background-image: url(../img/tele.jpeg);
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* font-family: ; */
  font-weight: bolder;
  font-size: 32px;
  color: rgba(250, 211, 36, 0.932);
  text-shadow: 1px 1px 1px black;
}

.jumbotronFechas {
  height: 150px;
  background-image: url(../img/pedales.jpg);
  background-size: cover;
  filter: grayscale(30%);
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 0;
  /* font-family: ; */
  font-weight: bolder;
  font-size: 32px;
  color: rgba(250, 211, 36, 0.932);
  text-shadow: 1px 1px 1px black;
}

.jumbotronClases {
  height: 150px;
  background-image: url(../img/amps.jpg);
  background-size: cover;
  background-position: bottom;
  filter: grayscale(60%);
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 0;
  /* font-family: ; */
  font-weight: bolder;
  font-size: 32px;
  color: rgba(250, 211, 36, 0.932);
  text-shadow: 1px 1px 1px black;
}

.jumbotronClases p {
  font-size: 24px;
}

.card-red {
  background-color: red;
}

.card-grey {
  background-color: grey;
}

.card-green {
  background-color: green;
}

.card-orange {
  background-color: orange;
}

.card-violet {
  background-color: violet;
}

.card-purple {
  background-color: purple;
}

.clasesGuitarra {
  background-color: rgb(221, 214, 214);
  display: flex;
  flex-flow: column;
  justify-content: center space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.gleft {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.gleft h2 {
  font-family: "Roboto", sans-serif;
}

.gleft h2:hover {
  color: brown;
}

#gclases {
  filter: sepia(100%);
  transition: 1s;
}

#gclases:hover {
  filter: sepia(50%);
}

@media only screen and (min-width: 768px) {
  .clasesGuitarra {
    flex-flow: row;
  }

  .gleft {
    width: 100%;
    font-size: 19px;
  }

  .gright {
    width: 100%;
    padding-left: 100px;
  }
}
.clasesEnsamble {
  height: 800px;
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "e1" "e3" "e3" "e2";
}

.e1 {
  background-image: url(../img/en1.jpg);
  filter: grayscale(50%);
  height: 200px;
  background-size: cover;
  grid-area: e1;
}

.e2 {
  background-image: url(../img/e2.jpg);
  filter: grayscale(50%);
  height: 200px;
  background-size: cover;
  grid-area: e2;
}

.e3 {
  background-color: rgb(248, 248, 193);
  grid-area: e3;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.e3 h2 {
  font-family: "Roboto", sans-serif;
}

.e3 h2:hover {
  color: brown;
}

@media only screen and (min-width: 768px) {
  .clasesEnsamble {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "e1 e3" "e2 e3";
    height: 500px;
  }

  .e3 {
    font-size: 19px;
  }
}/*# sourceMappingURL=estilos.css.map */