

.containerAlbums {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
    

}

.album {
    height: 300px;
    margin-top: 30px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
    filter: sepia(20%);
   
}

.albumLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}

.albumLeft h4{
    color: #7ed4e6;
    font-size: 20px;
}
.albumLeft p{
    color: white;
}

.albumRight{
    width: 60%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    
    
}

.albumRight p {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    
    
    
}

.albumCover {
    width: 130px;
}

.escuchar{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    width: 30%;

}
.albumLink{
    color: black;
}

@media (max-width: 980px){
    .albumLeft{
        padding-left: 20px;
    }
    .escuchar{
        width: 50%;
    }
}
@media (max-width: 768px){
    .album{
        flex-direction: column;
        height: 600px;
        align-items: center;
        padding-left: 0px;
    }
    .albumRight{
        padding-top: 0px;
    }
    .albumRight p{
        text-align: justify;
    }
    .albumLeft{
        padding-left: 0px;
    }
    .escuchar{
        width: 100%;
        justify-content: center;
    }
    
}
@media (max-width: 580px){
    .album{
        height: 650px;
    }
    .albumRight p{
        font-size: 17px;
    }
}